.forms_wizard .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.forms_wizard .btn-secondary:focus {
  box-shadow: 0 0 0 0rem rgba(108, 117, 125, 0.5);
}

.forms_wizard .close:focus {
  box-shadow: 0 0 0 0rem rgba(108, 117, 125, 0.5);
}

.forms_wizard .mt-200 {
  margin-top: 200px;
}
